@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Content/Scripts/jquery-2.0.3.min.js"></script>
    <script src="~/Content/Scripts/login.js"></script>
</head>
<body>
    <div>
        User ID: <input type="text" id="txtUserID" maxlength="20"/> <br/>
        Password: <input type="text" id="txtPwd" maxlength="20" /> <br />
        <input type="button" value="Login" id="btnLogin" onclick="ValidateUser()" />
    </div>
</body>
</html>
